:root{
    --primario:#17b2e3;
    --primarioOscuro:#3660f7;
    --secundario:#04e2e2;
    --secundarioOscuro:rgb(2.83,233);
    --blanco:#ffffff;
    --negro:#000000;
    --fuente-principal:'Staatliches', sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*::before, *::after{
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    background-color: var(--primario);
    line-height: 1,5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a{
    text-decoration: none;
}

img{
   max-width: 100%;
   
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuente-principal);
}
/*css header*/
.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem 0;
}

/*css navegacio*/

.navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacion__enlace{
    font-family: var(--fuente-principal);
    color: var(--blanco);
    font-size: 3rem;
}

.navegacion__enlace:hover,.navegacion__enlace--activo{
    color: var(--secundario) ;
}

/*css footer*/

.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2.2rem;
}

.footer__texto{
    text-align: center;
    font-family: var(--fuente-principal);
    font-size: 2.2rem;
}

.grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2,1fr) ;
}

@media(min-width:760px){
    .grid{
        grid-template-columns: repeat(3,1fr) ;
       
    }
}

.producto{
    background-color: var(--primarioOscuro); 
    padding: 1rem;
}

.producto__nombre{
    font-size: 4rem;
}

.producto__precio{
    font-size: 2.8rem;
    color: var(--secundario);
}

.producto__nombre, .producto__precio{
    text-align: center;
    font-family: var(--fuente-principal);
    line-height: 2.2rem;
    margin: 2rem;
}
.grafico--producto{
    grid-row: 2/3;
    grid-column: 1/3;
    background-image: url(img/grafico1.jpg);
}

.grafico--producto2{
    background-image: url(img/grafico2.jpg);
    grid-column: 1/3;
    grid-row: 8/9;
}
@media (min-width:760px){
    .grafico--producto2{
        grid-row: 5/6;
        grid-column: 2/4;
    }

}
.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
}
/*pagina de producto*/
@media (min-width:768px){
    .pro{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.formulario__campo{
    border: 1rem solid var(--primarioOscuro);
    background-color: transparent;
    color: var(--negro);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
}

.formulario__submit{
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuente-principal);
    padding: 2rem;
    transition: bacground-color .3s ease;
    grid-column: 1/3;
}

.formulario__submit:hover{
    cursor: pointer;
    color: var(--secundarioOscuro);
}

/*estilos nosotros*/

.nosotros__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 7%;
    margin-right: 7%;
    gap: 7%;
}

@media(max-width:768px){
    .nosotros__container{
        grid-template-columns: 1fr;
    }
}

.nosotros__texto{
    color: var(--blanco);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 5rem;
    line-height : 21px;
}

.sevicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 7%;
    margin-right: 7%;
    gap: 5%;
}
@media(max-width:768px){
    .sevicios{
        grid-template-columns: 1fr 1fr;
    }
}

.servicios__varios h6{
    text-align: center;
    font-family: var(--fuente-principal);
    color: var(--secundario);
    font-size: 22px;
    margin-top: 20px;
}

@media(max-width:768px){
    .servicios__varios h6{
       margin-bottom: 5px;
    }
}
